$base: #f9dcc4;
$base-lite: lighten($base, 10%);
$base-dark: #ca987d;
$accent: #ffb5a7;
$complementary: #76f3d6;
$complementary-lite: lighten($complementary, 15%);
$complementary-dark: #277981;

$grey: rgb(200, 200, 200);
$grey-lite: rgb(240, 240, 240);
$grey-dark: rgb(69, 69, 69);

$error: rgb(155, 57, 57);
