$lite: #f8edeb;
$base: #f9dcc4;
$accent: #fec89a;
$dark: #ca987d;
$complimentary-lite: #fcd5ce;
$complimentary: #ffb5a7;
$complimentary-dark: #8e3131;
$that-other-color-but-lite: #bffeef;
$that-other-color: #76f3d6;
$that-other-color-but-dark: #277981;
$litegray: rgb(239, 239, 239);
$confirm: rgb(145, 234, 145);
