$lite: #f8edeb;
$base: #f9dcc4;
$accent: #fec89a;
$complimentary-lite: #fcd5ce;
$complimentary: #ffb5a7;
$complimentary-dark: #8e584d;
$that-other-color-but-lite: #97e5d3;
$that-other-color: #41b499;
$that-other-color-but-dark: #1a6251;
