@import '../../styles/color_palettes';
@import '../../styles/util';

.name_btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  @include default-btn($base, $dark);

  &.completed {
    @include default-btn($that-other-color, $that-other-color-but-dark);
    padding: 10px;
    height: auto;

    .set_rep span {
      color: $that-other-color-but-dark;
      background-color: $that-other-color-but-lite;
    }
  }
  padding: 10px;
  margin-bottom: 15px;
  height: auto;
}

.expanded_container {
  padding: 10px;
  margin: -5px 0 25px 0;
  background-color: $litegray;
  border-radius: 5px;
}
.set_rep {
  span {
    padding: 3px 5px;
    margin-left: 5px;
    border-radius: 5px;
    color: $complimentary-dark;
    background-color: $lite;
  }
}
