@import '../../styles/color_palettes';
@import '../../styles/util';

.day_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 50px;
}

.current_date {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  margin: 0 15px;
  border-radius: 7px;
  background-color: $base;
  border: 2px solid $accent;
  @include click-scale;
}

.nav_button {
  cursor: pointer;
  height: 100%;
  width: 50px;
  padding: 10px;
  border-radius: 7px;
  background-color: $base;
  @include click-scale;
}
