@import '../../styles/color_palettes';
@import '../../styles/util';

.name_btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  @include default-btn($base, $base-dark);

  &.completed {
    color: $grey-dark;
    @include default-btn($grey, $grey-dark);
    padding: 10px;
    height: auto;

    &.active {
      background-color: $grey-dark;
    }

    .set_rep span {
      color: $grey-dark;
      background-color: $grey-lite;
    }
  }

  padding: 10px;
  margin-bottom: 15px;
  height: auto;

  &.active {
    color: white;
    background-color: $base-dark;

    .exercise_name {
      font-weight: bold;
    }
  }

  &:last-child {
    margin: 0;
  }
}

.expanded_container {
  padding: 10px;
  margin: -5px 0 25px 0;
  background-color: $base-lite;
  border-radius: 5px;

  &.completed {
    background-color: $grey-lite;
  }
}

.set_rep {
  span {
    padding: 3px 5px;
    margin-left: 5px;
    border-radius: 5px;
    color: $base-dark;
    background-color: white;
  }
}
