@import '../../styles/color_palettes';
@import '../../styles/util';

.input_fields {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.input {
  text-align: right;
  padding: 5px 7px;
  border: 2px $that-other-color solid;
  border-radius: 5px;
  @include hide-num-input-arrows;
  &:disabled {
    border: none;
    background-color: $lite;
    color: $complimentary-dark;
  }
}

.cardio_values_container {
  width: 100%;
}

.cardio_values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;

  input {
    width: 40px;
  }

  label {
    font-size: 0.8rem;
  }
}

.set_rep {
  display: flex;
  align-items: center;

  input {
    width: 35px;
    margin-right: 5px;
  }

  span {
    font-size: 0.8rem;
  }
}

.qty_grp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  input {
    width: 45px;
  }

  span {
    margin-left: 5px;
    font-size: 0.8rem;
  }
}

.buttons_container {
  display: flex;
  gap: 10px;
}

.btn {
  @include default-btn($complimentary, $complimentary-dark);
}

.submit_btn {
  @include default-btn($that-other-color, $that-other-color-but-dark);
}

.btn_logo {
  color: white;
  fill: white;
}
