@import '../../styles/color_palettes';
@import '../../styles/util';

.day_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 50px;
}

.current_date {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  margin: 0 15px;
  border-radius: 7px;
  background-color: $base-lite;
  border: none;
  @include click-scale;

  .day {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: bold;
    color: $base-dark;
  }

  .date {
    padding: 3px 5px;
    margin-left: 5px;
    color: $base-dark;
    letter-spacing: 0.05rem;
    background-color: white;
    border-radius: 5px;
  }
}

.nav_button {
  cursor: pointer;
  height: 100%;
  width: 50px;
  padding: 10px;
  border-radius: 7px;
  background-color: $base-lite;
  @include click-scale;

  polyline {
    stroke: $base-dark;
  }
}

.cardio_container {
  padding: 10px;
  border: 3px solid $complementary;
  border-radius: 5px;

  p {
    margin-bottom: 10px;
    color: $complementary-dark;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
  }
}
