@import '../../styles/color_palettes';

.past_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.entry {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 7px;
  background-color: $lite;
  border-radius: 3px;
  font-size: 0.7rem;
  color: $complimentary-dark;
}

.entry_values {
  display: flex;
}
