@import '../../styles/color_palettes';
@import '../../styles/util';

.label {
  @include label;
  margin-bottom: 5px;
}

.days_container {
  margin-bottom: 10px;
}

.day {
  @include default-btn($base, $accent);
  width: auto;
  margin: 0 5px 5px 0;

  &.active {
    color: white;
    background-color: $accent;
  }
}
