@import '../../styles/color_palettes';
@import '../../styles/util';

.label {
  @include label;
  margin-bottom: 5px;
}

.type {
  cursor: pointer;
  padding: 5px 7px;
  margin: 0 5px 5px 0;
  border: none;
  border-radius: 5px;
  color: $complimentary-dark;
  background-color: $lite;
  @include click-scale;

  &.active {
    color: $lite;
    background-color: $complimentary-dark;
  }
}
